[submodule "charting"]
	path = charting
	url = https://github.com/1989v/msa-charting.git
[submodule "ideabank"]
	path = ideabank
	url = https://github.com/1989v/msa-ideabank.git
[submodule "gifticon"]
	path = gifticon
	url = https://github.com/1989v/msa-gifticon.git
[submodule "auth"]
	path = auth
	url = https://github.com/1989v/msa-auth.git
[submodule "ai"]
	path = ai
	url = https://github.com/1989v/ai
[submodule "private"]
	path = private
	url = https://github.com/1989v/msa-private.git
